@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

div{
    font-family: Roboto;
}

h2 {
    color: #4049BF;
}

input::placeholder {
    font-weight: bold;
    opacity: 0.5;
    color: #393939;
    padding-left: 37px;
}

textarea::placeholder {
    font-weight: bold;
    opacity: 0.5;
    color: #393939;
    padding-left: 37px;
    padding-top: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



.inputProjectName{
    width: 429px;
    height: 46px;
    border-radius: 10px;
    border: none;
    background-color: #D0D0D0;
    color: #393939;
    margin-right: 53px;
}

.inputProjectCode{
    width: 429px;
    height: 46px;
    border-radius: 10px;
    border: none;
    background-color: #D0D0D0;
    color: #393939;
}

.inputDescription{
    margin-top: 34px;
    width: 912px;
    height: 129px;
    border-radius: 10px;
    border: none;
    background-color: #D0D0D0;
    color: #393939;
}

.phasesPeople{
    display: flex;
}

.phases{
    display: flex;
    flex-direction: column;
    margin-right: 2rem;
}

.selecBox{
    margin-bottom: 10px;
}

input[type="checkbox"] {
    margin-right: 10px;
}
  

.people{
    display: flex;
    flex-direction: column;
}

.pInfo{
    color: #979797;
}

.btnEmailAdd{
    background: #4049BF;
    color: #EBE8E8;
    border-radius: 10px;
    width: 85px;
    height: 30px;
    border: none;
}

.inputEmail{
    width: 321px;
    height: 46px;
    border-radius: 10px;
    border: none;
    background-color: #D0D0D0;
    color: #393939;
    margin-right: 36px;
}

.emailsDiv{
    margin-top: 4px;
}