@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

.pi {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.app-name {
    font-family: Roboto;
    color: #FFF;
    font-weight: 500;
    text-align: center;
    font-size: 15px;
    margin: 30px 0 45px 0;
}

.profilePicture {
    margin: 0 0 7px 0;
}

.rounded-photo {
    object-fit: cover;
    border-radius: 60px;
    width: 80px;
    height: 80px;
    margin: 0 0 0 0;
}

.title-first-name {
    font-family: Roboto;
    color: #FFF;
    font-weight: 500;
    text-align: center;
    font-size: 13px;
    margin: 0;
}

.title-last-name {
    font-family: Roboto;
    color: #FFF;
    font-weight: 500;
    text-align: center;
    font-size: 13px;
    margin: 0;
}

.subtitle {
    font-family: Roboto;
    color: #4049BF;
    font-weight: 500;
    text-shadow: 1px 1px 1px rgba(41, 41, 41, 0.5);
    /*I added the shadow to have better visibility of the word*/
    font-size: 10px;
    text-align: center;
    margin: 10px 0 28px 0;
}

/* Media queries */
@media (max-width: 41vh) {
    .app-name {
        font-size: 12px;
        margin: 40px;
    }

    .rounded-photo {
        height: 60px;
        width: 60px;
    }

    .title-first-name,
    .title-last-name {
        font-size: 11px;
    }

    .subtitle {
        font-size: 8px;
    }
}

@media (max-width: 100vh) {
    .app-name {
        font-size: 17px;
        margin: 60px 0 40px 0;
    }

    .rounded-photo {
        height: 80px;
        width: 80px;
    }

    .title-first-name,
    .title-last-name {
        font-size: 14px;
    }

    .subtitle {
        font-size: 11px;
    }
}