.itemCard {
    background: #D0D0D0;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 8px 0;
    padding: 8px 10px;
    box-sizing: border-box;
    width: 100%;
    cursor: pointer;
}

.itemCard:hover,
.itemCard:active {
    background: #909090;
}

.itemCard > h4 {
    color: #393939;
    font-size: 0.8rem;
    font-family: 'Roboto', sans-serif;
}

.itemCard > h5 {
    color: #393939;
    font-size: 0.7rem;
    font-family: 'Roboto', sans-serif;
}

.itemCard > span {
    font-size: 0.7rem;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.pendig {
    color: #979797;
}

.approved {
    color: #4049BF;
}

.rejected {
    color: #FF5C60;
}