.personCard {
  border: 3px solid #4049BF;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10px;
  width: 100%;
  height: 250px;
}

.personCard > h3  {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  color: #4049BF;
  width: 80%;
}

.cardItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cardItem > span {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  font-size: 1rem;
  color: #393939;
  margin: 0 auto;
}

.cardItem > label {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 0.5rem;
  color: #979797;
  margin: 0 auto;
}

.cardItem > img {
  width: 2rem;
}