@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

#root {
  margin: 0 auto;
  text-align: center;
}

body {
  margin: 0 auto;
}

.app {
  height: 100%;
  width: 100%;
}