.container-form {
  width: 1512px;
  height: 982px;
  padding: 28px;
  flex-direction: column;
  display: flex;
}
.title-form {
  color: var(--purple, #6423b5);
  text-align: center;
  font-size: 40px;
  font-family: Roboto;
  font-weight: 700;
}
.subtitle-form {
  color: var(--blue, #4049bf);
  text-align: center;
  font-size: 13px;
  font-family: Roboto;
  font-weight: 700;
}
.input-certification {
  width: 429px;
  height: 46px;
  flex-shrink: 0;
  border: 1px solid #d0d0d0;
  border-radius: 10px;
  background: var(--gray-3, #d0d0d0);
  margin-top: 72px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 37px;
}
.input-certification::placeholder {
  color: var(--gray-1, #393939);
  font-size: 12px;
  font-family: Roboto;
  font-weight: 700;
  padding-left: 37px;
}
.space-top {
  margin-top: 15px;
}
.calender-pickers {
  width: 452px;
  height: 46px;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
}
.date-label-form {
  color: var(--gray-1, #393939);
  font-size: 12px;
  font-family: Roboto;
  font-weight: 700;
}
.input-calender {
  width: 114px;
  height: 30px;
  flex-shrink: 0;
  border-radius: 10px;
  background: var(--gray-3, #d0d0d0);
  border: 1px solid #d0d0d0;
  color: var(--gray-1, #393939);
  font-size: 12px;
  font-family: Roboto;
  font-weight: 700;
  margin-left: 6px;
  padding-left: 12.25px;
}
.label-space {
  margin-left: 13px;
}
.check-pickers {
  width: 452px;
  height: 46px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.check-box {
  width: 10px;
  height: 11px;
  flex-shrink: 0;
  background: #d9d9d9;
}
.check-label {
  color: var(--gray-1, #393939);
  font-size: 10px;
  font-family: Roboto;
  font-weight: 700;
}
.button-submit {
  width: 159px;
  height: 30px;
  flex-shrink: 0;
  border-radius: 10px;
  background: var(--blue, #4049bf);
  border: 1px solid var(--purple, #6423b5);
  color: #ebe8e8;
  text-align: center;
  font-size: 12px;
  font-family: Roboto;
  font-weight: 700;
  margin-top: "33px";
  margin-left: auto;
  margin-right: auto;
}
.button-submit:hover {
  cursor: pointer;
  background-color: #4049bf;
  border-color: #4049bf;
}
