.container img{
    width: 1.8rem;
    height: 1.5rem;
  
}

.container{
    display: flex;
    
    flex-direction: row;
    align-items: center;
    padding:  0 2rem 0 2rem;
}

.container p {
    color: #6423B5;
    font-size: 2.5rem;
    font-weight: bold;
}

.container .title{
    display: flex;
    width: 100%;
    justify-content: center;
}