.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 272px;
  background-color: #393939;
  padding: 20px;
  box-sizing: border-box;
}

.menubar {
  position: fixed;
  top: 0;
  left: 272px;
  right: 0;
  padding: 20px;
  box-sizing: border-box;
}



  
