.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 272px;
  background-color: #393939;
  padding: 20px;
  box-sizing: border-box;
  max-width: 50%;
}

.menubar {
  position: fixed;
  top: 0;
  left: 272px;
  right: 0;
  padding: 20px;
  box-sizing: border-box;
}

.profile{
  width: 80%;
  margin: 0 2rem 0 18rem;
}

.user_avatar{
  display: flex;  
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title{
  color: #6423B5;
}

.rounded-photo{
  object-fit: cover;
  border-radius: 50%;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
}
.profilePicture{
  height: 9rem;
  width: 9rem;
  margin-top: 1.5rem;
}

.return:hover{
  cursor: pointer;
}